.item {
    &-title {
        font-size: 1.75rem;
    }
    &-bg {
        background: rgb(245,245,245);
    }
    &-shadow {
        box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    }
    &-radius {
        border-radius: 15px;
    }
    &-description {
        font-size: 13px;
        text-align: justify;
        margin-bottom: 15px !important;
    }
    &-rating {
        position: absolute;
        z-index: 2;
        right: 10px;
        top: 10px;
        background: red;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        color: #fff;
    }
    &-main {
        max-height: 150px;
        overflow: hidden;
        border-radius: 5px;
        margin: 10px;
        position: relative;
        & > img {
            display: table;
            width: 100%;
        }
    }
    &-logo {
        position: relative;
        margin: -75px auto 0 auto;
        width: 120px;
        & > img {
            border-radius: 80px;
            border: 10px solid white;
            background: #fff;
            width: 100%;
        }
        &-default {
            position: relative;
            width: 100px;
            float: left;
            overflow: hidden;
            border-radius: 100px;
            box-shadow: 0 0 0 10px #fff;
            &:before {
                content: "";
                float: left;
                padding-top: 100%;
            }
            & > img {
                width: 100%;
                margin: 0;
            }
            & > div {
                width: 100%;
                height: 100%;
                background: #fff no-repeat center;
                background-size: 50%;
                border-radius: 100px;
            }
        }
    }
}
.text {
    &-desc {
        font-size: 12px;
    }
    &-btn {
        background: #57a283;
        border-radius: 50px;
        height: auto;
    }
    &-font {
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    .item {
        &-main {
            max-height: 80px;
        }
        &-rating {
            padding: 2px 5px 2px 5px;
            line-height: 1;
            right: 5px;
            top: 5px;
        }
        &-radius {
            border-radius: 10px;
        }
        &-title {
            font-size: 12px;
            margin: 0;
        }
        &-description {
            font-size: 9px;
            padding: 0 !important;
            margin: 0 10px 10px 10px !important;
        }
        &-logo {
            margin: -35px auto 0 auto;
            width: 50px;
            &-default {
                box-shadow: 0 0 0 5px #fff;
            }
            & > img {
                border-radius: 80px;
                border: 4px solid white;
                background: #fff;
            }
        }
        &-empty {
            &-title {
                font-size: 16px;
            }
            &-description {
                font-size: 12px;
            }
        }
    }
    .text {
        &-desc {

        }
        &-btn {
            background: #57a283;
            border-radius: 50px;
            height: 30px;
        }
        &-font {
            font-size: 11px;
        }
    }
}
