.section {
    &-bg {
        padding-top: 3rem!important;
        background: #00a082;
        &-main {
            padding-top: 3rem!important;
            background: #00a082;
        }
    }
    &-title {
        font-family: 'Lobster', cursive;
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    .section {
        &-bg {
            padding-top: 32px !important;
            &-main {
                padding-top: 0 !important;
            }
        }
        &-title {
            font-size: 16px;
            text-align: center;
        }
    }
}
